# registry=https://pkgs.dev.azure.com/SC-Sitec/Common/_packaging/NpmSaraoDev/npm/registry/ 
                        
# always-auth=true
; begin auth token
//pkgs.dev.azure.com/SC-Sitec/Common/_packaging/NpmSaraoDev/npm/registry/:username=SC-Sitec
//pkgs.dev.azure.com/SC-Sitec/Common/_packaging/NpmSaraoDev/npm/registry/:_password=#{{FEED_TOKEN}}#
//pkgs.dev.azure.com/SC-Sitec/Common/_packaging/NpmSaraoDev/npm/registry/:email=admin@sitec.com
//pkgs.dev.azure.com/SC-Sitec/Common/_packaging/NpmSaraoDev/npm/:username=SC-Sitec
//pkgs.dev.azure.com/SC-Sitec/Common/_packaging/NpmSaraoDev/npm/:_password=#{{FEED_TOKEN}}#
//pkgs.dev.azure.com/SC-Sitec/Common/_packaging/NpmSaraoDev/npm/:email=admin@sitec.com
; end auth token
