<sarao-modal [closable]="true"  [visible]="state" title="Fotos del producto" styleClass="!rounded-2xl !w-[720px]">
    
    <div class="pb-6">
        <p class="s-text-base text-jichi-grayscale-dark-gray">Podés subir 5 fotos como máximo.</p>
        <p class="s-text-base text-jichi-status-canceled">{{errorMessage}}</p>
    </div>

    <div *ngIf="!imgList.images.length;else imgCropper ">
        
        <div appDragndrop (fileDropped)="onFileDropped($event)"
            class=" rounded-2xl relative bg-jichi-grayscale-light-gray border-jichi-grayscale-gray flex flex-col border-dashed border-[2px]  text-center m-auto">
            <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowserHandler($event)"
                accept="{{format}}" class="opacity-0  w-full h-full top-0 left-0 absolute">
            <div class="flex flex-col justify-center py-4 items-center max-h-full max-w-full">
                <img class="!w-[155px] h-[128px]" src="assets/illustrations/empty-images.png" alt="">
            </div>
            <a class="s-text-xs semibold text-jichi-text-blue">Seleccioná las fotos de tu producto</a>
            <p class="semibold pt-2 text-[0.9rem]">o arrastrá y soltá aquí</p>
            <p class="text-[0.8rem] pt-6 pb-4">PNG o JPG (máx. 2 mb.)</p>
        </div>

        <div class="flex flex-row pt-10 pb-6 items-center justify-center w-full">
            <jichi-add-button [disable]="!imgList.images.length" (click)="continue()"
                class="w-full relative self-center" label="Continuar"></jichi-add-button>
        </div>

    </div>

    <ng-template #imgCropper>

        <div *ngIf="!galleryActive; else galleryTemplate">
            
            <div class="flex flex-col ">
                <image-cropper class="jichi-cropper" [imageBase64]="imgList.images[currentIndex].original"
                    [maintainAspectRatio]="true" [aspectRatio]="imageValidation.aspectRatio" [cropperMinWidth]="128" [roundCropper]="false"
                    [alignImage]="'center'" [resizeToWidth]="imageValidation.exportWidth" [resizeToHeight]="imageValidation.exportHeight" [autoCrop]="true"
                    [containWithinAspectRatio]="true" [style.display]="showCropper ? null : 'none'"
                    style="max-height: 100vh" format="png" (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()">
                </image-cropper>
            </div>

            <div class="flex flex-row justify-around ">
                <div tabindex="-1" *ngFor="let image of imgList.images; let i = index;"
                    [ngStyle]="{'background-image': image.cropped.length > 0? 'url('+image.cropped+')' : 'url('+image.original+')'}"
                    class="bg-no-repeat bg-center bg-contain bg-jichi-grayscale-medium-gray w-28 h-28 rounded-2xl focus:border-2 focus:border-solid focus:border-jichi-accent-blue"
                    alt="" (click)="changeImage(image, i)">
                </div>
            </div>

            <div class="flex flex-row pt-10 pb-6 items-center justify-center w-full">
                <jichi-add-button (click)="continue()" class="w-full relative self-center"
                    label="Continuar"></jichi-add-button>
            </div>

        </div>

        <ng-template #galleryTemplate>
            
            <div class="flex flex-wrap -mx-2 ">
                
                <div *ngFor="let image of imgList.images; let i = index; let last = last" [ngClass]="{
                       'w-full md:w-1/2': imgList.images.length === 1 || (imgList.images.length > 3 && i < 2),
                       'jajaw-full md:w-1/3': (imgList.images.length === 2 || imgList.images.length === 3 ) || (imgList.images.length > 2 && i > 1)
                     }" class="p-2">
                   
                     <div class="rounded-2xl relative image-container">
                        <img [src]="image.cropped" class="rounded-2xl object-cover w-full h-auto"
                            [ngClass]="{'w-full h-auto': imgList.images.length === 1 || (imgList.images.length > 2 && i < 1), 'w-full h-auto ': imgList.images.length === 2 || (imgList.images.length > 2 && i >= 3)}">
                        <sarao-action-button [raised]="true" icon="trash" class="trash-btn absolute right-0 top-0 p-2"
                            (click)="deleteImage(i)">
                        </sarao-action-button>
                        <sarao-action-button [raised]="true" icon="edit" class="edit-btn absolute left-0 top-0 p-2"
                            (click)="editImage(i)">
                        </sarao-action-button>
                    </div>

                </div>

                <div class="w-full p-2" *ngIf="imgList.images.length < imageValidation.maxImageQuantity " [ngClass]="{
                    'md:w-1/2': imgList.images.length === 1,
                    'md:w-1/3': imgList.images.length === 2 || (imgList.images.length > 3 )
                }">

                    <div appDragndrop (fileDropped)="newFileDrop($event)" [ngClass]="{
                        'h-[19.4rem]': imgList.images.length === 1,
                        'h-52': imgList.images.length >= 2
                    }"
                        class="px-2 w-full h-52 max-h-[19.4rem] rounded-2xl bg-jichi-grayscale-light-gray border-jichi-grayscale-gray  border-dashed border-[2px]  text-center m-auto  flex justify-center flex-col   relative">
                        <input type="file" #fileDropRef id="fileDropRef" multiple (change)="newFileHandler($event)"
                            accept="{{format}}" class="opacity-0  w-full h-full top-0 left-0 absolute">
                        <a class="s-text-xs semibold text-jichi-text-blue">Seleccioná las fotos de tu producto</a>
                        <p class="semibold pt-2 text-[0.9rem]">o arrastrá y soltá aquí</p>
                        <p class="text-[0.8rem] pt-6 pb-4">PNG o JPG (máx. 2 mb.)</p>
                    </div>

                </div>

                <div class="flex flex-row pt-10 pb-6 items-center justify-center w-full">
                    <jichi-add-button (click)="saveImages()" class="w-full relative self-center"
                        label="Guardar"></jichi-add-button>
                </div>

            </div>

        </ng-template>

    </ng-template>
    
</sarao-modal>