<aside class="flex sticky h-full  text-black left-0 bg-jichi-grayscale-white border-gray-500">

  <div class="relative flex flex-col h-full  sm:p-6 transition-all p-8 w-[20rem] border-r border-gray-200" [ngClass]="{
      'p-0 w-[6rem]': !isOpen
    }">

    <div class="absolute  z-10" [ngClass]="{
        'right-[-2rem]': isOpen,
        'right-[-22rem] sm:right-[-2rem]': !isOpen
      }">
      <button type="button" (click)="toggleSidenav()"
        class="text-jichi-green bg-jichi-main-blue hover:bg-jichi-main-blue focus:ring-4 focus:outline-none  font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 ">
        <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <ul class="h-full pt-6">
      <li a *ngFor="let item of menuItems" (click)="selectModule(item)" class="hover:bg-gray-200 rounded-lg pb-4">
        <a>
          <div class="cursor-pointer h-9 flex items-center">
            <img class="pr-2 h-full white-icon-to-gray" src="assets/icons/qr.svg" alt="">
            <span class="font-sans text-[#61709D] font-semibold text-md" *ngIf="isOpen && !hasOpenSubNavbar">
              {{item.nombre}}
            </span>
          </div>
        </a>
      </li>
    </ul>ruta

    <div [ngClass]="{
        'hidden': !isOpen || hasOpenSubNavbar,
        'block ': isOpen && !hasOpenSubNavbar
      }">
    </div>
  </div>

  <div class="transition-all p-6 bg-jichi-grayscale-white " [ngClass]="{
      'w-0 p-0': !hasOpenSubNavbar,
      'w-[14rem]': hasOpenSubNavbar
    }">
    <div class="overflow-hidden z-40 ">
      <h3 class="flex items-center p-2 text-md font-extrabold text-gray-500"> <img class=" h-8 white-icon-to-gray"
          src="assets/icons/qr.svg" alt="">
        <span class="px-1 font-text">{{openedSubmenu.nombre}}</span>
      </h3>
      <ul class=" h-full pt-10">
        <li *ngFor="let subItems of openedSubmenu.childItems" class="hover:bg-gray-200 rounded-lg">
          <a [routerLink]="subItems.ruta">
            <div class=" px-4 cursor-pointer h-9 flex items-center">
              <img class="pr-2 h-full white-icon-to-gray" src="assets/icons/qr.svg" alt="">
              <span>
                {{subItems.nombre}}
              </span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
