
<div  class=" flex flex-col justify-center items-center w-full bg-white rounded-[40px] shadow   md:mt-0 sm:max-w-2xl xl:p-0 ">

    <div class="flex flex-col items-center justify-center pt-16">
        <img src="assets/illustrations/success.png" class="w-32 h-32" />
    </div>

    <div class="py-8 px-20 space-y-6 text-center items-center flex flex-col">
        <h1 class="bold s-text-2xl">¡Ya estás registrado!</h1>
        <h5 class="semibold">Gracias por unirte a JICHI.</h5>
        <p class="px-10 text-[17px] font-sans pb-2 leading-5 font-normal text-jichi-grayscale-dark-gray">
            Te facilitaremos la administración de tu negocio con 
            todas las funcionalidades de la app.
        </p>
        <div class="flex  flex-col pr-20 pt-4 justify-between  ">
            <div class="flex flex-row items-center text-center pb-4">
                <img src="assets/icons/benefits-qr.svg" >
                <span class="text-base semibold pl-5">
                    Registrá tu catálogo de productos y servicios
                </span>
            </div>
            <div class="flex flex-row items-center text-center pb-4">
                <img src="assets/icons/benefits-cash.svg" >
                <span class="text-base semibold pl-5">
                    Generá QR con tu cuenta de Banco Fassil
                </span>
            </div>
            <div class="flex flex-row items-center text-center">
                <img src="assets/icons/benefits-delivery.svg" >
                <span class="text-base semibold pl-5">
                    Enviá tus productos por delivery
                </span>
            </div>
        </div>
      
        
    <button (click)="goToHome()" class="
    w-full
    h-14
    text-white
    bg-jichi-main-blue 
    font-sans 
    hover:bg-primary-700 
    focus:ring-4 
    focus:outline-none 
    focus:ring-primary-300 
    font-medium 
    rounded-full 
    text-sm px-5 py-2.5 text-center">
    Continuar</button>
    </div>
 
</div>