.bg-transparent {
    background-color: #00000000;
}

.bg-primary-dark-blue {
    background-color: #0F0742ff;
}

.bg-accent-dark-blue {
    background-color: #0B3069ff;
}

.bg-primary-green {
    background-color: #2AD9C2ff;
}

.bg-primary-light-blue {
    background-color: #3ED9E4ff;
}

.bg-white-grey-scale {
    background-color: #FAFDFDff;
}

.bg-accent-grey {
    background-color: #6F6A8Eff;
}

.bg-dark-grey {
    background-color: #61709Dff;
}

.bg-medium-grey {
    background-color: #D4E3F3ff;
}

.bg-new-white {
    background-color: #F3F7FAff;
}

.bg-light-grey {
    background-color: #F1F7FDff;
}

.bg-accent-blue {
    background-color: #00C2DCff;
}

.bg-medium-sky-blue {
    background-color: #7EDDEDff;
}

.bg-accent-light-blue {
    background-color: #99F8FFff;
}

.bg-accent-light {
    background-color: #C8F9FCff;
}

.bg-green-blue-dark {
    background-color: #1187A0ff;
}

.bg-icons-grey {
    background-color: #98B0CCff;
}

.bg-text-blue {
    background-color: #1187A0ff;
}

.bg-text-black {
    background-color: #090429ff;
}

.bg-prussian-blue {
    background-color: #002652ff;
}

.bg-dark-silver {
    background-color: #717171ff;
}

.bg-orange {
    background-color: #EB820Aff;
}

.bg-grey-blue {
    background-color: #6F6A8Eff;
}

.bg-grey {
    background-color: #98B0CCff;
}

.bg-indicator-blue {
    background-color: #090429ff;
}

.bg-indicator-grey {
    background-color: #98B0CCff;
}
