.black {
    color: #050B1Eff
}

.text-grey {
    color: #8289A9ff
}

.text-light-grey {
    color: #98B0CCff
}

.text-blue {
    color: #7E9CFFff
}

.text-green {
    color: #07A5A1ff
}

.text-red {
    color: #D23A4Cff
}

.text-orange {
    color: #EB820Aff
}

.text-main-blue {
    color: #0F0742ff;
}

.text-blue {
    color: #1187A0ff;
}
.text-black {
    color: #090429ff;
}
