.active{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #13847D;
    border: 1.5px solid #13847D;
    border-radius: 24px;
    padding: 7px;
}

.inactive{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;  
    color: #61709D;
    border: 1.5px solid #61709D;
    border-radius: 24px;
    padding: 7px;
}