
.main-container {
  height: 100vh
}

.main {
  height: 90vh;
  background-color: #f1f7fd;
}

.help {
  color: #61709d;
  margin-top: 24px;
  padding-bottom: 24px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}




.view {
  font-weight: 600;
  margin-left: 5px;
  color: #1187a0;
  text-decoration: none;
}